body {
  background: $background-color;
  border-top: 1em solid $highlight-color;
  color: $text-color;
  font-family: $font-family;
  font-size: 1em;
  font-weight: 300;
  padding-top: 5em;
}

#nav {
  background-color: $highlight-color;
  margin: -3px 0 0;
  padding: 0;
  position: absolute;
  top: 1em;
}

#nav ul {
  li {
    border: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    a {
      background: $highlight-color;
      border: 0;
      color: $background-color;
      font-size: .9em;
      font-weight: 700;
      display: block;
      letter-spacing: 1px;
      margin: 0;
      padding: 1.15em 1.5em;
      text-transform: uppercase;
    }
    a:hover {
      background: $banner-background-color;
      color: $light-text-color;
    }
  }
}

h1 {
  background: $highlight-color;
  color: $background-color;
  display: table;
  font-size: 1em;
  font-weight: 700;
  margin-left: -2em;
  padding: 5px 8px;
  text-transform: uppercase;
  width: auto;
}

.page-home p strong {
  color: $highlight-color;
  font-weight: 700;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: .2em 0 0;
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
}

body.page-404 #container p {
  font-size: 2em;
  text-align: center;
}

h1+p {
  margin-top: .2em;
}

h2 {
  font-size: 2em;
}

h3 {
  text-transform: uppercase;
}

blockquote {
  border-left: 10px solid $muted-division-color;
  color: $light-text-color;
  font-size: .8em;
  padding-left: 40px;
}

a, a:visited {
  border: 0;
  border-bottom: 5px solid $highlight-color;
  color: $highlight-color;
  text-decoration: none;
}

a:hover {
  border-bottom: 5px solid $light-highlight-color;
  color: $light-highlight-color;
}

input[type="search"] {
  background: $background-color;
  border: 5px solid $light-highlight-color;
  color: $light-text-color;
}

input::placeholder {
  color: $light-text-color;
}

th {
  color: $muted-text-color;
}

td {
  border-bottom: 1px solid $muted-division-color;
}

#container, footer {
  margin: 0 auto 3em;
  width: 55%;
}

hr {
  background: $muted-division-color;
  border: 0;
  height: 1px;
}

footer {
  color: $muted-text-color;
  clear: both;
  font-size: 75%;
}

#copyright {
  color: $light-text-color;
  font-size: 1.3em;
  margin: 0;
  padding: 1.2em 0 0 1.2em;
  width: 50%;
  a {
    border-bottom: none;
    color: $text-color;
  }
}

#social {
  float: right;
  margin-top: 1.2em;
  li {
    display: inline-block;
    font-size: 1.5em;
    margin-left: .5em;
    margin-right: .5em;
    a, a:visited {
      background: none;
      border-bottom: none;
      color: $muted-text-color;
      font-size: 2em;
    }
    a:hover {
      color: $highlight-color;
    }
  }
}
