body {
  background: $background-color;
  border-top: 1em solid $top-bar-color;
  color: $text-color;
  font-family: $font-family;
  font-size: 1em;
  font-weight: 300;
  padding-top: 5em;
}

h1 {
  background: $highlight-color;
  color: $background-color;
  display: table;
  font-size: 1em;
  font-weight: 700;
  margin-left: -2em;
  padding: 5px 8px;
  text-transform: uppercase;
  width: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: .2em 0 0;
}

p {
  font-size: 1.5em;
  line-height: 1.5em;
}

h1+p {
  margin-top: .2em;
}

h2 {
  font-size: 2em;
}

h3 {
  text-transform: uppercase;
}

h2, h3, h4 {
  color: $heading-color;
}

blockquote {
  border-left: 10px solid $muted-division-color;
  color: $secondary-text-color;
  font-size: .8em;
  padding-left: 40px;
}

a, a:visited {
  border: 0;
  border-bottom: 5px solid $highlight-color;
  color: $highlight-color;
  text-decoration: none;
}

a:hover {
  border-bottom: 5px solid $secondary-highlight-color;
  color: $secondary-highlight-color;
}

input[type="search"] {
  background: $background-color;
  border: 5px solid $highlight-color;
  color: $secondary-text-color;
}

button {
  background: $nav-background-color;
  border: 0;
  color: $nav-text-color;
  cursor: pointer;
  font-size: .8em;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  &:hover {
    background: $background-color;
    color: $secondary-text-color;
  }
}

input::placeholder {
  color: $secondary-text-color;
}

th {
  color: $muted-text-color;
}

td {
  border-bottom: 1px solid $muted-division-color;
}

#container, footer {
  margin: 0 auto 3em;
  width: 55%;
}

hr {
  background: $muted-division-color;
  border: 0;
  height: 1px;
}

footer {
  color: $muted-text-color;
  clear: both;
  font-size: 75%;
}
