#nav {
  background-color: $nav-background-color;
  margin: -4px 0 0;
  padding: 0;
  position: absolute;
  top: 1em;
}

#nav ul {
  li {
    border: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    a {
      background: $nav-background-color;
      border: 0;
      color: $nav-text-color;
      font-size: .9em;
      font-weight: 700;
      display: block;
      letter-spacing: 1px;
      margin: 0;
      padding: 1.15em 1.5em;
      text-transform: uppercase;
    }
    a:hover {
      background: $background-color;
      color: $secondary-text-color;
    }
  }
}
