@media only screen and (max-width: $small-device-max-width) {
  body {
    border-top-width: .75em;
  }

  h1 {
    margin: 1em auto;
    text-align: center;
  }

  p {
    font-size: 1em;
  }

  blockquote {
    font-size: .9em;
  }

  #container, footer {
    width: 80%;
  }

  #social {
    float: none;
  }

  #credit, #social {
    margin: 2em auto 0;
    text-align: center;
  }

  #banner {
    font-size: .85em;
    top: .5em;
  }

  #nav {
    padding: 0;
    text-align: center;
    top: 3.5em;
    width: 100%;
    ul {
      font-size: .8em;
      margin: 0 auto;
      padding: 0;
      li {
        border: 0;
        padding: 0;
      }
    }
  }

  #nav + #container {
    padding-top: 1em;
  }

  #credit {
    font-size: 1.1em;
    margin: 1em auto;
    padding: 0;
    width: 80%;
  }

}