@import "variables";

// Brooklyn Nights
$highlight-color: cornflowerblue;
$top-bar-color: black;
$background-color: #222;
$nav-background-color: $top-bar-color;
$nav-text-color: #777;
$text-color: #aaa;
$secondary-text-color: #777;
$secondary-highlight-color: lighten($highlight-color, 20%);
$muted-text-color: #444;
$muted-division-color: lighten($background-color, 10%);

// BLM
$banner-background-color: lighten($background-color, 5%);
$banner-border-color: $banner-background-color;
$banner-text-color: $text-color;
