@import "variables";

// Brooklyn Days
$highlight-color: cornflowerblue;
$top-bar-color: $highlight-color;
$background-color: white;
$nav-background-color: $highlight-color;
$nav-text-color: white;
$text-color: #333;
$heading-color: $text-color;
$secondary-text-color: #aaa;
$secondary-highlight-color: lighten($highlight-color, 20%);
$muted-text-color: #ddd;
$muted-division-color: darken($background-color, 10%);

// BLM
$banner-background-color: black;
$banner-border-color: black;
$banner-text-color: white;
