<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ $title := print .Site.Title " | " .Title }} {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    {{ $description := print .Description }} {{ if .IsHome }}{{ $description = .Site.Params.Description }}{{ end }}
    <title>{{ $title }}</title>

    <meta name="description" content="{{ $description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.Author }}">
    {{ if .Site.Params.Google.SiteVerificationId }}
    <meta name="google-site-verification" content="{{ .Site.Params.Google.SiteVerificationId }}">
    {{ end }}

    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="og:image" content="//en.gravatar.com/userimage/68503725/4acdbc44d16dc6c0ea026eb107fcfa0b.png?size=200">

    <link rel="manifest" href="/manifest.json">

    <link rel="apple-touch-icon" href="/gravatar.png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Font Awesome Kit -->
    <script src="//kit.fontawesome.com/c7f2d66636.js" crossorigin="anonymous"></script>

    <!-- DataTables JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <!-- Normalize CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">

    {{ $stylesNormal:= resources.Get "scss/style-normal.scss" | toCSS | minify }}
    {{ $stylesDark := resources.Get "scss/style-dark.scss" | toCSS | minify }}
    <!-- App CSS -->
    <script>
        (function () {
            const normalStylesheetUrl = "{{ $stylesNormal.Permalink }}";
            const darkStylesheetUrl = "{{ $stylesDark.Permalink }}";
            var stylesheetUrl = normalStylesheetUrl;

            const queryString = window.location.search;
            if (queryString) {
                const urlParams = new URLSearchParams(queryString);
                const mode = urlParams.get("mode");
                stylesheetUrl = (mode.toString() == "dark") ? darkStylesheetUrl : normalStylesheetUrl;
            } else {
                const currentTime = new Date().getHours();
                stylesheetUrl = (currentTime && currentTime <= 17) ? normalStylesheetUrl : darkStylesheetUrl;
            }
            document.write("<link id=\"theme-mode\" href=\"" + stylesheetUrl + "\" rel=\"stylesheet\">\n");
        })();
    </script>
    <noscript><link href="{{ $stylesNormal.Permalink }}" rel="stylesheet"></noscript>
    {{ range .Site.Params.Plugins.Css }}
    {{ $css := resources.Get .url | toCSS | minify }}
    <link href="{{ $css.Permalink }}" rel="stylesheet">
    {{ end }}

    {{ if .Site.Params.Google.AnalyticsId }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="//www.googletagmanager.com/gtag/js?id={{ .Site.Params.Google.AnalyticsId }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ .Site.Params.Google.AnalyticsId }}');
    </script>
    {{ end }}

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="page-{{ .Page.Kind }}">
